body{
    background: #344C64;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-part{
    display: flex;
    flex-direction: column;
}

.answer-displayer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-family: Cursive;
}


.main-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 85vh;
    justify-content: flex-end;
    max-width: 700px;
    width: 100%;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 40px);
    gap: 15px;
}

.options > *{
    border: 0;
    border-radius: 3px;
    color: #344c64;
}

.main-circle-A{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    color: white;
    max-width: 700px;
    width: 100%;
}
        
.circle-A{
    display: flex;
    gap: 5px;
    font-family: Cursive;
    justify-content: center;
}
        
.circle-A > *{
    height: 55px;
    text-align: center;
}
        
#circle-A{
    width: 40%;
    font-size: 30px;
    color: #344C64;
}
        
.circle-A-label{
    font-size: 30px;
}
        
.circle-A-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    gap: 50px;
    width: 100%;
}
        
#circle-A-calculate-button{
    border: 0;
    border-radius: 3px;
    font-family: Cursive;
    font-size: 30px;
    color: #344C64;
}



.main-cylinder-v{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    color: white;
    max-width: 700px;
    width: 100%;
}
        
.cylinder-v{
    display: flex;
    gap: 15px;
    font-family: Cursive;
    justify-content: center;
}
        
.cylinder-v > *{
    height: 55px;
    text-align: center;
}
        
        
#cylinder-v{
    width: 20%;
    font-size: 30px;
    color: #344C64;
}
        
.cylinder-v-label{
    font-size: 30px;
}
        
.cylinder-v-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    gap: 50px;
    width: 100%;
}
        
#cylinder-v-calculate-button{
    border: 0;
    border-radius: 3px;
    font-family: Cursive;
    font-size: 30px;
    color: #344C64;
}

  
  
  
.main-square-A{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    color: white;
    max-width: 700px;
    width: 100%;
}
            
.square-A{
    display: flex;
    gap: 5px;
    font-family: Cursive;
    justify-content: center;
}
            
.square-A > *{
    height: 55px;
    text-align: center;
}
            
            
#square-A{
    width: 40%;
    font-size: 30px;
    color: #344C64;
    height: 50px;
}
            
.square-A-label{
    font-size: 30px;
}
            
.square-A-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    gap: 50px;
    width: 100%;
}
            
#square-A-calculate-button{
    border: 0;
    border-radius: 3px;
    font-family: Cursive;
    font-size: 30px;
    color: #344C64;
}


.main-triangle-A{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    color: white;
    max-width: 700px;
    width: 100%;
    justify-content: center;
}
            
.triangle-A{
    display: flex;
    gap: 5px;
    font-family: Cursive;
    justify-content: center;
}
            
.triangle-A > *{
    height: 55px;
    text-align: center;
}
            
            
#triangle-A{
    width: 20%;
    font-size: 30px;
    color: #344C64;
    height: 50px;
}
            
.triangle-A-label{
    font-size: 30px;
}
            
.triangle-A-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    gap: 50px;
    width: 100%;
}
            
#triangle-A-calculate-button{
    border: 0;
    border-radius: 3px;
    font-family: Cursive;
    font-size: 30px;
    color: #344C64;
    
}


.main-sphere-V{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    color: white;
    max-width: 700px;
    width: 100%;
}
            
.sphere-V{
    display: flex;
    gap: 5px;
    font-family: Cursive;
    justify-content: center;
}
            
.sphere-V > *{
    height: 55px;
    text-align: center;
}            
            
#sphere-V{
    width: 20%;
    font-size: 30px;
    color: #344C64;
    height: 50px;
}
            
.sphere-V-label{
    font-size: 30px;
}
            
.sphere-V-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    gap: 50px;
    width: 100%;
}
            
#sphere-V-calculate-button{
    border: 0;
    border-radius: 3px;
    font-family: Cursive;
    font-size: 30px;
    color: #344C64;
}

button:active, input[type='submit']:active{
     position: relative;
     top: 3px;
     left: 3px;
}

button:hover, input[type='submit']:hover{
     background: lightblue;
     color: white;
     color: white;
     box-shadow: 2px 2px 5px black;
}